.backdrop{
	width: 1000px;
	height: 506px;
	position: relative;
	background-color: whitesmoke;
	margin:auto;
}

.ground{
	width: 1000px;
	height: 80px;
	top: 500px;
	position: absolute;
	background-color: tan;
}

p{
	font-size:10px;
}

h2{
	margin:0px;
	margin-bottom:15px;
}